.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.gallery__item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.blue{
    background: blue;
}